.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;

    .span1 {
        font-weight: bold;
    }

    .span2 {
        font-size: 14px;
    }

    
}